@model BackEnd.Entities.Marca

@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid">


    <div class="row">

        <div class="col-sm-4">

            <br />

            <h4>Editar marca</h4>

            <br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdMarca)

                    <div class="form-group">
                        @Html.LabelFor(model => model.MarcaProducto, "Marca", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MarcaProducto, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.MarcaProducto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar marca" class="btn btn-success" style="width: 100%;" />
                        </div>

                    </div>
                </div>
            }

        </div>

        <div class="col-sm">



            <div class="jumbotron mt-5 mr-5">
                <h2>
                    Modificar marca

                </h2>
                <p>
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">¡Usted esta a punto de modificar una marca!</h4>
                        <p>
                            Recuerde intentar no cometer faltas ortograficas y verificar que tiene el permiso para modificar una marca.
                            No quisieramos tener stock fantasmta como en ExtremeTech, nuestros clientes son lo mas importante para nosotros.
                        </p>

                        <hr>
                        <p class="mb-0">Cuando este listo solo presione el boton guardar cambios, si requiere ayuda, contacte con un administrador mas experimentado.</p>
                    </div>
                </p>
                <div class="form-group">

                    <div class="col-md-offset-2 col-md-5">
                        @Html.ActionLink("Regresar a la tabla", "Index", null,
                              new { @class = "btn btn-warning", style = "width: 100%;" })
                    </div>


                </div>
            </div>




        </div>

    </div>
</div>