@model BackEnd.Entities.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Desea eliminar esto?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaProducto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.IdCategoria)
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
